{% extends 'base.html' %}

{% block content %}
    <div class="container p-4 bg-light shadow rounded mt-5">
        <h1 class="fs-4 fw-bold border-bottom pb-2">Дані Користувача</h1>
        <div class="d-flex align-items-start">
            <div class="me-4">
                <img src="{{ url_for('.static', filename='img/default.png') }}" alt="Profile Image"
                     class="rounded-circle border" style="width: 150px; height: 150px; object-fit: cover;">
            </div>
            <div>
                <div class="mb-3">
                    <strong class="d-block">ID:</strong>
                    <span>{{ user.id }}</span>
                </div>
                <div class="mb-3">
                    <strong class="d-block">Username:</strong>
                    <span>{{ user.username }}</span>
                </div>
                <div class="mb-3">
                    <strong class="d-block">Email:</strong>
                    <span>{{ user.email }}</span>
                </div>
            </div>
        </div>
        <div class="text-end mt-3">
            <a href="{{ url_for('users.update_account') }}" class="btn btn-warning">Редагувати профіль</a>
        </div>
        <a href="{{ url_for('users.registered_users') }}" class="btn btn-primary mt-3 me-2">Усі користувачі</a>
    </div>
{% endblock %}
