{% extends 'base.html' %}
{% from 'form_macros.html' import render_field %}
{% block content %}
    <div class="container p-4 bg-light shadow rounded mt-5">
        <h1 class="fs-4 fw-bold border-bottom pb-2">Оновити Дані Акаунту</h1>
        <form method="post" action="{{ url_for('users.update_account') }}" novalidate>
            {{ form.hidden_tag() }}
            {{ render_field(form.username) }}
            {{ render_field(form.email) }}
            {{ form.submit(class="btn btn-primary mt-3") }}
        </form>
    </div>
{% endblock %}