{% extends "base.html" %}

{% block header %}
{% endblock %}
{% block content %}
	<section class="about">
        <div class="about__container">
            <h1 class="about__title">Про себе</h1>
        </div>
    </section>
    <section class="education">
        <div class="education__container">
            <h1 class="education__title">Освіта</h1>
        </div>
    </section>
    <section class="projects">
        <div class="projects__container">
            <h1 class="projects__title">Проєкти</h1>
        </div>
    </section>
{% endblock %}
