<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Моє резюме</title>
</head>
<body>
    <div class="wrapper">
        <header class="header"></header>
        <main class="main">
            <section class="about">
                <div class="about__container">
                    <h1 class="about__title">Про себе</h1>
                </div>
            </section>
            <section class="education">
                <div class="education__container">
                    <h1 class="education__title">Освіта</h1>
                </div>
            </section>
            <section class="projects">
                <div class="projects__container">
                    <h1 class="projects__title">Проєкти</h1>
                </div>
            </section>
        </main>
        <footer class="footer"></footer>
    </div>
</body>
</html>